.view-order-list {
    display: grid;
    grid-template-columns: 0.15fr 0.15fr 0.3fr 0.2fr 0.2fr;
    position: relative;
    width: 97%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 16.5px;
    margin: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

.list-recipient {
    display: flex;
    position: absolute;
    width: 15%;
    left: 2px;
}

.list-email {
    position: absolute;
    width: 20%;
    left: 18%;
    font-size: 10px;
    overflow-wrap: break-word;


}
.list-address {
    display: flex;
    position: absolute;
    width: 20%;
    left: 42%;
    font-size: 10px;
}

.list-product {
    position: absolute;
    width: 20%;
    left: 70%;
}

.list-total {
    display: flex;
    position: absolute;
    width: 10%;
    left: 93%;

}

.list-quantity {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 5px;
    left: 65%;
}

.delete-order {
    display: flex;
    position: absolute;
    right: -50px;
    width: 20px;
}

@media screen and (max-width:450px) {

    .view-order-list {
        width: 200%;
    }

    .list-email {
    position: absolute;
    width: 12%;
    left: 27%;
    font-size: 10px;
    overflow-wrap: break-word;

    }
    .list-address{
        font-size: 9px;
    }
}