.order-Page{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.order-Page h1{
    color: black;
    font-size: 30px;
    display: flex;
    position: absolute;
    left: 50px;
}
.ordersss-view{
  height: 517px;
    left: 50px;
  display: flex;
  overflow-y: scroll;
  position: absolute;
  top: 80px;
  width:85%;
  flex-direction: column;
  background-color: rgba(190, 190, 190, 1);
  box-shadow: 0px 6px 5px 3px black;
  border-radius: 16px;;
}
.orders-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin:10px;
  margin-right:150px;
  font-size: 25px;
}
.order-product{
  display: flex;
  position: relative;
  left: 5%;
}
.order-total{
  display: flex;
  position: relative;
  left: 1%;
}
.ViewOrders{
  width: 90%;
  height: 50%;
  overflow:visible;

}
@media screen and (max-width:450px) {
     .order-Page{
      width: 78%;
      left:77px;
     }
     .ordersss-view {
      width: 74%;
      height: 600px;
      left: 65px;

}}
