
.editProduct-page{
    display:flex;
    position: relative;
    bottom: 23px;
    width: 81.1rem;
    height: 44rem;
}
.edit-product-data{
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 5px 0px black;
    left: 150px;
    top: 100px;
    height: 600px;
    overflow-y: scroll;
}
.edit-product-data form{
    width: 70%;
    margin-left: 40px;
    height: 90%;

}
.editProduct-page h1{
    color: black;
    position: relative;
    height: 50px;
    left: 150px;
    top: 20px;
}
/* .edit-product-data form button:hover{
    opacity: 1;
} */
.imagePreview img{
    width: 150px;
    height: 150px;
}
@media screen and (max-width:820px) {
    .editProduct-page {
    width: 100%;
    left: 20%;
    }
    .edit-product-data{
        width: 57%;
        left: 15%;
    }
    .edit-product-data-formData{
        overflow: scroll;
        width: 100%;
    }
    .edit-product-data Input{
        width: 70%;
        position: relative;
        left: 5%;
    }
    .editProduct-page h1{
        left: 90px;    
    }
    .imagePreview img{
        width: 55%;
        height: 150px;
    }
}